<!DOCTYPE html>
<html>
<head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/uikit/dist/css/uikit.min.css">
</head>
<body>
  	<div class="">
  		<div class="uk-grid">
  			<div class="uk-width-medium-1-4">
  				<ul class="uk-nav">
  					<li class="uk-class-header">Charms:
  					<ul class="uk-nav-sub" id="charm-list">

  					</ul></li>
  				</ul>
  			</div>
  			<div class="uk-width-medium-3-4">
				<h1>I'm a layout!</h1>
				<section id="main-view">

				</section>
  			</div>
  		</div>
	</div>
	<script type="text/javascript" data-main="{{ STATIC_URL }}js/app/settings.js" src="{{ STATIC_URL }}vendor/requirejs/require.js"></script>
</body>
</html>