<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lightbringer.css" />
    <script src="{{ STATIC_URL }}js/jquery-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/lightbringer.js"></script>
</head>
<body>
<header>
    <h1 class="filename"><img src="{{STATIC_URL}}images/icon_1223/icon_1223.png" width=64 height=64 alt=""/>  Lightbringer Exalted Tools</h1>
</header>
{% block main %}

{% endblock %}
</body>
</html>